:root {
    --main-blue: #101f3c;
    --main-white: #f5f5f5;
    --main-light-blue: #bcd3e0;
    --main-gray: #808080;
    --main-black: #2c2c2c;
    --search-bg: #e9f2f8;
    --main-orange: #f1ab86;
    --signin-blue: #2c4862;
    --signin-black: #202020;
    --message-bg: #f7fff6;
    --address-bar-height: 0px;
}
    
    body, html {
    height: 100%;
    }
    
    * {
    -ms-overflow-style: none;
    }
    
    * {
    scrollbar-width: none;
    }
    
    *::-webkit-scrollbar {
    display: none;
    }
    
    /* Reset and base styles  */
    /* ** */
    * {
    padding: 0px;
    margin: 0px;
    border: none;
    }
    
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }
    
    /* Links */
    a,
    a:link,
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
    font-size: inherit;
    font-weight: inherit;
    }
    
    ul,
    ul li {
    list-style: none;
    }
    
    img {
    vertical-align: top;
    }
    
    img,
    svg {
    max-width: 100%;
    height: auto;
    }
    
    address {
    font-style: normal;
    }
    
    /* Form */
    
    textarea:active,
    textarea:focus {
    outline: none;
    }
    
    input,
    textarea,
    button,
    select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    }
    
    input::-ms-clear {
    display: none;
    }
    
    button,
    input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    }
    
    input:focus,
    input:active,
    button:focus,
    button:active {
    outline: none;
    }
    
    button::-moz-focus-inner {
    padding: 0;
    border: 0;
    }
    
    label {
    cursor: pointer;
    }
    /* ** */
    
    .containe {
        position: relative; 
        margin-top: 94px;
    }
    
    .hide {
    display: none;
    }
    
    .active {
    display: block;
    }
    
    .chet-modal-text {
    color: white;
    }
    
    .my-nav {
    position: absolute;
    padding: 12px;
    background: rgb(255 255 255 / 80%);
    z-index: 1000;
    left: 50%;
    /* top: 19%; */
    top: 0px;
    transform: translateX(-50%);
    
    max-width: 100vw;
    margin: 0 auto;
    }
    
    .padding-top {
    padding-top: 100px;
    }
    
    @media(max-width: 2000px) {
    .my-nav {
      top: 28px;
    }
    }
    
    @media(max-width: 1560px) {
    .my-nav {
      top: 0px;
    }
    }
    
    @media(max-width: 1400px) {
    .my-nav {
      top: 0px;
    }
    }
    
    @media(max-width: 911px) {
    .my-nav {
      top: 0px;
    }
    }
    
    @media(max-width: 430px) {
    .my-nav {
      top: 11px;
    }
    }
    
    @media(max-width: 360px) {
    .my-nav {
      top: 13px;
    }
    }
    
    #shapeToggle {
    background: transparent;
    border: 2px solid #000;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    }
    
    #shapeToggle::before,
    #shapeToggle::after {
    content: "";
    display: block;
    background: #000;
    position: absolute;
    transition: all 0.25s ease;
    }
    
    /* X shape */
    #shapeToggle::before,
    #shapeToggle::after {
    left: 3px;
    top: 12px;
    width: 20px;
    height: 2px;
    background: #000;
    }
    
    #shapeToggle::before {
    transform: rotate(45deg);
    }
    
    #shapeToggle::after {
    transform: rotate(-45deg);
    }
    
    /* Windows */
    .about-window {
    margin: 40px 0px 85px 30px;
    }
    
    @media(max-width: 1024px) {
    .height-100  {
      overflow: scroll;
      height: 100vh;
    }
    }
    
    @media(max-width: 912px) {
    .about-window {
      overflow-y: scroll;
    }
    
    .faq-window {
      overflow-y: scroll;
    }
    }
    
    /* Drop Down List */
    .second-nav-drop-down-blackout {
    background: transparent !important;
    position: absolute !important;
    }
    
    .second-nav-drop-down {
    display: none;
    
    position: absolute;
    top: 60px;
    right: 30%;
    z-index: 100;
    
    background: var(--main-white);
    border-radius: 12px;
    padding: 10px 20px;
    width: 146px;
    }
    
    .second-nav-drop-down.open {
    display: block;
    }
    
    @media (max-width: 480px) {
    .drop-down__link {
      font-size: 12px;
    }
    
    .second-nav-drop-down {
      right: 10px;
      top: 50px;
    }
    }
    
    /* Chat Modal */
    .open-chat-btn {
    cursor: pointer;
    width: 60px;
    height: 49px;
    
    position: absolute;
    bottom: 16px;
    right: 53px;
    z-index: 2;
    }
    
    .chat-popup {
    display: none;
    
    position: absolute;
    bottom: 11px;
    right: 50px;
    z-index: 10;
    
    border-radius: 16px;
    width: 308px;
    height: 369px;
    border: 16px;
    background: var(--main-light-blue);
    }
    
    .chat-popup.open {
    display: block;
    }
    
    .chat-popup__img {
    width: 30px;
    height: 30px;
    }
    
    .chat-popup-btn {
    width: 14px;
    height: 14px;
    }
    
    .chat-popup__top {
    width: 308px;
    height: 54px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding: 12px 24px 12px 16px;
    background: var(--signin-blue);
    }
    
    .chat-popup__messages {
    margin-top: 30px;
    padding: 0px 7px;
    }
    
    .chat-popup__message_txt {
    color: var(--main-black);
    background: var(--message-bg);
    padding: 16px 10px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 16px;
    }
    
    .chat-popup__container {
    position: relative;
    min-height: 100%;
    }
    
    .chat-popup__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 294px;
    border-radius: 12px;
    background: var(--main-white);
    padding: 12px 16px;
    margin: 8px 7px;
    }
    
    .chat-popup__text_input {
    color: var(--main-black);
    position: relative;
    }
    
    .chat-popup__text_icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    }
    
    @media (max-width: 900px) {
    .open-chat-btn {
      bottom: 16px;
      right: 25px;
      width: 45px;
      height: 39px;
    }
    
    .chat-popup {
      bottom: 13px;
      right: 20px;
    }
    }
    
    /* Sign In */
    .signin {
    display: none;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    
    width: 860px;
    height: 560px;
    background: var(--main-white);
    border-radius: 24px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
    }
    
    .signin.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .signin__title {
    font-weight: 600;
    color: var(--main-black);
    }
    
    .signin__form_signup-link {
    color: var(--signin-blue);
    font-weight: 600;
    }
    
    .signin__form_signup {
    color: var(--main-gray);
    font-weight: 600;
    }
    
    .signin__form_input {
    width: 380px;
    border-radius: 12px;
    border: 1px solid var(--main-blue);
    padding: 16px 24px;
    color: var(--main-black);
    }
    
    .signin__form_btn {
    width: 380px;
    border-radius: 12px;
    background: var(--main-blue);
    padding: 16px 24px;
    }
    
    @media (max-width: 480px) {
    .signin {
      width: 450px;
    }
    }
    
    @media (max-width: 390px) {
    .signin {
      width: 350px;
    }
    
    .signin__form_input {
      width: 300px;
    }
    
    .signin__form_btn {
      width: 300px;
    }
    }
    
    @media (max-width: 360px) {
    .signin {
      width: 330px;
    }
    }
    
    /* Gallery */
    .gallery {
    margin: 40px 0px 85px 30px;
    }
    
    .gallery__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    column-gap: 40px;
    row-gap: 40px;
    margin-bottom: 40px;
    }
    
    .gallery__title {
    font-weight: 600;
    color: var(--main-black);
    }
    
    .gallery__item {
    height: 383px;
    border-radius: 12px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    }
    
    .gallery__img {
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    }
    
    .gallery__item_title {
    color: var(--main-black);
    font-weight: 600;
    }
    
    .gallery__cont {
    padding: 0px 24px 24px 24px;
    }
    
    .gallery__accessors {
    color: var(--main-gray);
    }
    
    .gallery__accessors_title {
    font-weight: 500;
    color: var(--main-black);
    margin-bottom: 5px;
    }
    
    .gallery__btn {
    position: absolute;
    bottom: 24px;
    right: 24px;
    
    border-radius: 500px;
    padding: 10px 20px;
    background: var(--signin-blue);
    color: var(--main-white);
    }
    
    @media (max-width: 480px) {
    .gallery {
      margin-bottom: 80px;
    }
    
    .gallery__grid-bottom {
      display: none;
    }
    
    .gallery__btn {
      font-size: 12px;
    }
    }
    
    @media (max-width: 390px) {
    .gallery__grid {
      grid-template-columns: repeat(auto-fit, 330px);
    }
    }
    
    /* Contact */
    .contact {
    margin: 40px 0px 85px 30px;
    }
    
    .contact__title {
    color: var(--main-black);
    }
    
    .contact__form_label {
    color: var(--signin-blue);
    font-size: 12px;
    }
    
    .contact__form_input {
    width: 380px;
    height: 50px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--signin-blue);
    color: var(--signin-blue);
    font-size: 14px;
    background: rgba(240, 240, 240, 0.2);
    }
    
    .contact__form_input::placeholder {
    font-size: 14px;
    }
    
    .contact__form_btn {
    padding: 0px 20px;
    border-radius: 12px;
    height: 37px;
    color: var(--main-white);
    background: var(--signin-blue);
    }
    
    .contact__form_textarea {
    width: 380px;
    height: 177px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--signin-blue);
    color: var(--signin-blue);
    background: rgba(240, 240, 240, 0.2);
    }
    
    .request-blackout {
    display: none;
    
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    }
    
    .request-blackout.active {
    display: block;
    }
    
    .request {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    
    width: 320px;
    height: 200px;
    background: var(--main-white);
    border-radius: 24px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    padding: 24px 24px 30px 24px;
    }
    
    .request__title {
    color: var(--main-black) !important;
    }
    
    .request__btn {
    color: var(--signin-blue);
    font-weight: 600;
    background: var(--main-light-blue);
    padding: 10px 16px;
    border-radius: 500px;
    }
    
    .request__cont {
    margin-top: -10px !important;
    }
    
    @media (max-width: 480px) {
    .contact {
      margin: 30px 0px 100px 0px;
    }
    
    .contact__form_input {
      width: 345px;
    }
    
    .contact__form_textarea {
      width: 345px;
    }
    }
    
    @media (max-width: 360px) {
    .contact__form_input {
      width: 335px;
    }
    
    .contact__form_textarea {
      width: 335px;
    }
    }
    
    /* Profile */
    .profile {
    margin: 40px 0px 85px 30px;
    }
    
    .profile__title {
    color: var(--main-black);
    }
    
    .profile__form_label {
    color: var(--signin-blue);
    font-size: 12px;
    }
    
    .profile__form_input {
    width: 380px;
    height: 50px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--signin-blue);
    color: var(--signin-blue);
    font-size: 14px;
    background: rgba(240, 240, 240, 0.2);
    }
    
    .profile__form_input::placeholder {
    font-size: 14px;
    }
    
    .profile__form_btn {
    padding: 0px 20px;
    border-radius: 12px;
    height: 37px;
    }
    
    .profile__form-cansel {
    border: 1px solid var(--signin-blue);
    color: var(--signin-blue);
    }
    
    .profile__form-save {
    color: var(--main-white);
    background: var(--signin-blue);
    }
    
    @media (max-width: 480px) {
    .profile {
      margin: 30px 0px 100px 0px;
    }
    
    .profile__form_input {
      width: 345px;
    }
    }
    
    @media (max-width: 360px) {
    .profile__form_input {
      width: 335px;
    }
    }
    
    /* Faq */
    .faq {
    margin: 40px 0px 85px 30px;
    }
    
    .faq__title {
    color: var(--main-black);
    }
    
    .faq__section_title {
    color: var(--signin-blue);
    font-weight: 500;
    }
    
    .faq__section_desc {
    max-width: 720px;
    color: var(--signin-blue);
    }
    
    @media (max-width: 480px) {
    .faq {
      margin: 30px 0px 100px 0px;
    }
    }
    
    /* Scene */
    .loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    
    display: none;
    justify-content: center;
    align-items: center;
    }
    
    .open-main-window {
    display: flex;
    align-items: center;
    }
    
    .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
    }
    
    .camera-view {
    max-width: 1200px;
    margin: 60px auto;
    overflow: scroll;
    padding-top: 50px;
    
    display: none;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 372px);
    column-gap: 30px;
    row-gap: 30px;
    }
    
    @media (max-width: 1280px) {
    .camera-view {
      max-width: 1000px;
    }
    }
    
    @media (max-width: 912px) {
    .camera-view {
      overflow-y: scroll;
      height: 100vh;
      margin-bottom: 20px;
    }
    
    .camera__item:last-child {
      margin-bottom: 100px;
    }
    }
    
    .camera__item {
    padding: 6px 6px 9px 6px;
    background: #dbdbdb;
    border-radius: 6px;
    }
    
    .camera__item_img {
    width: 360px;
    height: 196px;
    }
    
    .camera__item_txt {
    margin-right: auto;
    margin-top: 10px;
    font-size: 12px;
    color: var(--main-black);
    }
    
    .camera-view.active {
    display: grid;
    }
    
    .view-scene.hide {
    display: none;
    }
    
    @media(max-width: 912px) {
    .scene {
      height: var(--address-bar-height) !important;
    }
    }
    
    .scene {
    width: 100vw;
    /* height: 100vh; */
    height: var(--address-bar-height)
    overflow: hidden;
    position: relative;
    }
    
    .order__container,
    .slidecontainer {
    transition: bottom 0.3s;
    }
    
    .my-cont {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    height: var(--address-bar-height);
    overflow-y: scroll;
    }
    
    .f-panzoom {
    width: 100vw;
    position: relative;
    }
    
    .f-panzoom::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    }
    
    .f-panzoom__content {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
    
    .scene__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .foreground {
    display: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    }
    
    .foreground.active {
    display: block;
    }
    
    /* Slider Zoom */
    .slider__container {
    max-width: 1320px;
    margin-left: auto;
    position: relative;
    }
    
    .slidecontainer {
    position: absolute;
    bottom: 20px;
    z-index: 25;
    left: 70%;
    transform: translate(-70%, 0%);
    
    display: flex;
    align-items: center;
    z-index: 40;
    }
    
    .zoom-btn {
    width: 50px;
    height: 40px;
    background-color: #bec2c6;
    }
    
    .zoom-btn:not(:last-child) {
    border-right: 1px solid #8c8c8c;
    }
    
    .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    }
    
    .slider:hover {
    opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
    }
    
    .popup-blackout {
    display: none;
    
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    }
    
    .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 328px;
    height: 211px;
    padding: 20px;
    border-radius: 12px;
    background: rgba(245, 245, 245, 0.95);
    box-shadow: 0px 4px 18px 0px rgba(154, 141, 141, 0.1);
    }
    
    .popup-blackout.active {
    display: block;
    }
    
    .close-popup {
    margin-left: auto;
    }
    
    @media (max-width: 912px) {
    .f-panzoom {
      width: 100vw;
      height: 100vh;
      position: relative;
      overflow: scroll;
    }
    
    .f-panzoom__content {
      width: 1600px;
      height: 900px;
    }
    
    .f-panzoom::before {
      content: "";
      display: none;
      padding-top: 0;
    }
    
    .scene__bg {
      width: 1600px;
      height: 900px;
    }
    
    .slidecontainer {
      display: none;
    }
    
    .popup-txt {
      font-weight: 500;
      font-size: 16px;
      color: var(--main-black);
      margin-top: -10px;
    }
    }
    
    /** Options */
    .options-container {
    position: absolute;
    top: 15%;
    left: -80px;
    row-gap: 20px;
    z-index: 10;
    transition: all 0.3s ease;
    
    display: none;
    align-items: flex-start;
    }
    
    .options-container.open {
    left: 0;
    }
    
    .options-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
    background: rgba(245, 245, 245, 0.8);
    border-bottom-right-radius: 12px;
    padding: 20px;
    }
    
    .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
    background: rgba(245, 245, 245, 0.8);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 20px;
    
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease;
    }
    
    @media (max-width: 1280px) {
    .options {
      top: 10%;
      transform: translate(0%, 10%);
    }
    }
    
    @media (max-width: 900px) {
    .options {
      display: none;
    }
    
    .options-container {
      display: flex;
    }
    }
    
    .options__btn:hover,
    .options__btn:focus {
    background: #bcc3c9;
    transition: all 0.3s ease;
    }
    
    .options__btn {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    }
    
    /* Tips */
    .options__tip {
    position: absolute;
    top: 5%;
    left: 170%;
    z-index: 1;
    
    background: var(--main-black);
    border-radius: 12px 12px 12px 0px;
    padding: 6px 12px;
    box-shadow: 0px 4px 4px 0px rgba(63, 63, 63, 0.25);
    color: white !important;
    
    display: none;
    align-items: center;
    justify-content: center;
    }
    
    .options__tip span {
    font-size: 12px;
    font-weight: 500;
    }
    
    .options__tip.active {
    display: flex;
    }
    
    .tip-save.active {
    display: flex;
    }
    
    .tip-3d.active {
    display: flex;
    width: 100px;
    }
    
    @media (max-width: 912px) {
    .options__tip {
      display: none !important;
    }
    }
    
    /* Options */
    
    .floating-div {
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 10px;
    }
    
    .btnff {
    background: red;
    padding: 10px;
    }
    
    /** Order */
    .order__container {
    position: relative;
    max-width: 1320px;
    height: auto;
    margin: 0 auto;
    }
    
    .cont {
    position: relative;
    }
    
    .order__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    bottom: 20px;
    left: 0;
    
    width: 240px;
    border-radius: 500px;
    background: var(--main-white);
    padding: 6px 10px 6px 22px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    z-index: 100;
    }
    
    @media (max-width: 851px) {
    .order__btn {
      margin-left: 18%;
    }
    }
    
    @media (max-width: 912px) {
    .order__menu {
      width: 226px;
    }
    
    .order__btn {
      padding: 7px 18px;
      font-size: 13px;
    }
    }
    
    @media (max-width: 430px) {
    .order__menu {
      bottom: 32px;
    }
    }
    
    .order__list.open {
    display: flex;
    }
    
    .order__list {
    display: none;
    
    position: absolute;
    bottom: 85px;
    left: 0;
    z-index: 30;
    transition: all 0.5s ease;
    
    flex-direction: column;
    row-gap: 10px;
    
    width: 222px;
    border-radius: 12px;
    padding: 12px 30px 12px 24px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    
    @media (max-width: 1280px) {
    .order__menu {
      left: 100px;
    }
    
    .order__list {
      left: 100px;
    }
    }
    
    @media (max-width: 912px) {
    .order__menu {
      width: 240px;
    }
    
    .order__list {
      left: 33%;
      width: 208px;
      transform: translate(-50%, 0%);
    }
    }
    
    @media (max-width: 540px) {
    .order__menu {
      width: 240px;
    }
    
    .order__list {
      left: 40%;
      width: 208px;
      transform: translate(-50%, 0%);
    }
    }
    
    @media (max-width: 500px) {
    .order__menu {
      width: 240px;
    }
    
    .order__list {
      left: 50%;
      width: 208px;
      transform: translate(-50%, 0%);
    }
    }
    
    .order__count {
    font-weight: 600;
    color: var(--signin-blue);
    }
    
    .order__btn {
    font-weight: 600;
    border-radius: 53px;
    background: var(--main-orange);
    padding: 10px 24px;
    color: var(--signin-blue);
    }
    
    .move-up {
    margin-bottom: 4px;
    }
    
    .move-up.down {
    transform: rotate(180deg);
    transition: all 0.3s ease;
    }
    
    .order__item_title {
    color: var(--main-black);
    font-weight: 600;
    margin-bottom: 5px;
    }
    
    .order__item_price {
    color: var(--main-black);
    }
    
    @media (max-width: 850px) {
    .order__list {
      width: 205px;
    }
    
    .order__item_title {
      font-size: 14px;
    }
    
    .order__item_price {
      font-size: 14px;
    }
    
    .order__count {
      font-size: 14px;
    }
    
    .order__btn {
      font-size: 14px;
    }
    
    .order__list-empty {
      font-size: 14px;
    }
    
    .options {
      padding: 10px 15px;
      row-gap: 15px;
    }
    }
    
    .move-down {
    display: none;
    }
    
    /* Order */
    
    /** Custom */
    .custom {
    display: flex;
    align-items: start;
    
    position: absolute;
    top: 15%;
    right: -354px;
    z-index: 40;
    transition: all 0.3s ease;
    }
    
    @media (max-width: 1280px) {
    .custom {
      top: 10%;
    }
    }
    
    .custom.open {
    right: 0px;
    }
    
    .custom__items {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    
    width: 354px;
    padding: 22px;
    border-bottom-left-radius: 12px;
    background: rgba(245, 245, 245, 0.8);
    row-gap: 16px;
    }
    
    @media (max-width: 412px) {
    .custom.open {
      right: -40px;
    }
    
    .custom__block {
      width: 280px;
    }
    
    .custom__item {
      width: 280px !important;
    }
    }
    
    .custom__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    width: 310px;
    border-radius: 12px;
    padding-right: 30px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    
    .custom__item_title {
    color: var(--main-black);
    }
    
    .custom__img {
    width: 80px;
    height: 60px;
    border-radius: 12px;
    }
    
    .custom__item_img {
    width: 80px;
    height: 80px;
    }
    
    .custom-drop-list {
    display: none;
    }
    
    .custom-drop-list.open {
    display: block;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.1);
    height: 180px;
    border-radius: 12px;
    }
    
    .custom-item-remove {
    display: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #f18686;
    color: white;
    }
    
    .custom-item-remove.active {
    display: block;
    }
    
    .drop-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    }
    
    .custom-item-btn {
    transition: all 0.3s ease;
    }
    
    .custom-item-btn.open {
    transition: all 0.3s ease;
    transform: rotate(90deg);
    }
    
    .bar-stool-img {
    display: none;
    }
    
    .lamp-img {
    display: none;
    }
    
    .kitchen-red-lamp {
    display: none;
    }
    
    .foreground-black.active {
    display: block;
    }
    
    .foreground-black-view2.active {
    display: block;
    }
    
    .foreground-red.active {
    display: block;
    }
    
    .fartuk-img {
    display: none;
    }
    
    .portuquet-img {
    display: none;
    }
    
    .portuquets.opacity {
    opacity: 0;
    }
    /* TODO: Soleve this code in js */
    
    .object-visible {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    }
    
    /* Custom */
    
    /** Share Modal */
    .share-modal {
    width: 622px;
    height: 368px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    
    padding: 24px;
    border-radius: 24px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    
    .share__text {
    color: #202020 !important;
    }
    
    .share-modal__items {
    display: flex;
    justify-content: space-between;
    /* column-gap: 25px; */
    
    margin-top: -40px;
    width: 370px;
    padding: 20px 16px 20px 20px;
    border-radius: 12px;
    background: #f0f0f0;
    }
    
    @media (max-width: 912px) {
    .share-modal {
      width: 450px;
    }
    
    .share-modal__items {
      width: 330px;
    }
    }
    
    @media (max-width: 412px) {
    .share-modal {
      width: 350px;
    }
    
    .share-modal__items {
      width: 300px;
    }
    
    .share-modal__items img {
      column-gap: 15px;
      width: 40px;
      height: 40px;
    }
    }
    
    .share-modal__items_title {
    font-weight: 600;
    color: var(--signin-blue) !important;
    }
    
    .share-modal__item_title {
    color: var(--main-black);
    font-size: 12px;
    }
    
    .close-share-modal {
    font-weight: 600;
    color: var(--signin-blue);
    }
    
    .share-blackout {
    display: none;
    
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    }
    
    .share-blackout.active {
    display: block;
    }
    
    /* Share Modal */
    
    /** Saved Modal */
    .saved-modal-empty {
    width: 400px;
    height: 300px;
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    
    padding: 24px;
    border-radius: 24px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    
    .saved-modal-empty.active {
    display: flex;
    }
    
    .saved-modal {
    width: 500px;
    
    display: none;
    flex-direction: column;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    
    padding: 24px;
    border-radius: 24px;
    background: var(--main-white);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    
    @media (max-width: 412px) {
    .saved-modal-empty {
      width: 300px;
    }
    
    .saved-modal {
      width: 300px !important;
    }
    }
    
    .saved-modal-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }
    
    @media (max-width: 912px) {
    .saved-modal {
      width: 400px;
    }
    }
    
    .saved-modal.active {
    display: flex;
    }
    
    .saved-modal__items {
    row-gap: 20px;
    }
    
    .saved-modal__item {
    max-width: 539px;
    }
    
    .saved-modal__items_title {
    font-weight: 600;
    color: var(--main-black) !important;
    }
    
    .saved-modal__item-price {
    font-weight: 400;
    color: var(--main-gray);
    }
    
    .saved-modal__item_title {
    color: #202020 !important;
    font-weight: 500;
    }
    
    .saved-modal__item_desc {
    color: var(--main-gray);
    }
    
    .check-out-saved-modal {
    padding: 10px 15px;
    border-radius: 12px;
    background: var(--signin-blue);
    }
    
    .close-saved-modal {
    font-weight: 600;
    color: var(--signin-blue);
    }
    
    .saved-blackout {
    display: none;
    
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    }
    
    .saved-blackout.active {
    display: block;
    }
    
    .saved-modal-empty {
    color: var(--main-black);
    }
    
    /* Saved Modal */
    
    /** Download Modal */
    .download-modal {
    display: none;
    flex-direction: column;
    row-gap: 15px;
    
    position: absolute;
    top: 43%;
    left: 112%;
    z-index: 9999;
    
    background: #f0f0f0;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 13px;
    
    width: 132px;
    height: 74px;
    padding: 10px 20px;
    }
    
    @media (max-width: 912px) {
    .download-modal {
      left: 83%;
    }
    }
    
    .download-modal.active {
    display: flex;
    }
    
    .download-modal__btn {
    font-size: 12px;
    font-weight: 500;
    color: var(--main-black);
    }
    
    .download-blackout {
    display: none;
    
    width: 100vw;
    height: 100vh;
    background: transparent;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    }
    
    .download-blackout.active {
    display: block;
    }
    
    /* Download Modal */
    
    /** Masks */
    /* TODO: Soleve this code in js */
    .kitchen-mask {
    display: none;
    }
    
    .kitchenBlackMasks.active {
    display: block;
    }
    
    .kitchen-red-masks.active {
    display: block;
    }
    
    .kitchen-white-masks.active {
    display: block;
    }
    
    .kitchen-view1 {
    display: none;
    }
    
    .kitchen-view2 {
    display: none;
    }
    
    .kitchen-view3 {
    display: none;
    }
    
    .kitchen-view1.active {
    display: block;
    }
    
    .kitchen-view2.active {
    display: block;
    }
    
    .kitchen-view3.active {
    display: block;
    }
    
    .kitchen-white-view3.active {
    display: block;
    }
    
    .kitchen-black-masks.active {
    display: block;
    }
    
    .kitchen-red-masks.active {
    display: block;
    }
    
    .kitchen-white-masks.active {
    display: block;
    }
    /* TODO: Soleve this code in js */
    
    .pointer {
    pointer-events: none;
    }
    
    .masks-container {
    width: 100vw;
    height: 100vh;
    }
    
    .kitchen-white-view3-chairs {
    width: 30%;
    height: 44%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 38.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view3-floor1 {
    width: 31.5%;
    height: 33%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view3-floor2 {
    width: 14.5%;
    height: 15%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view2-floor1 {
    width: 40.5%;
    height: 18%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 18%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view2-floor2 {
    width: 17.5%;
    height: 18%;
    background: transparent;
    position: absolute;
    bottom: 13%;
    left: 32%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view1-chairs {
    width: 25.5%;
    height: 37.5%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 40.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view1-floor1 {
    width: 40.5%;
    height: 18%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view1-floor2 {
    width: 16%;
    height: 21%;
    background: transparent;
    position: absolute;
    bottom: 8%;
    left: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view1-floor3 {
    width: 9%;
    height: 33%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view1-floor4 {
    width: 23.5%;
    height: 18%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-white-view1-lamps {
    width: 32.5%;
    height: 59%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 39.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-red-view3-wall {
    width: 67.5%;
    height: 42%;
    background: transparent;
    position: absolute;
    top: 34%;
    left: 7%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-red-view2-wall {
    width: 33.5%;
    height: 22%;
    background: transparent;
    position: absolute;
    top: 46%;
    left: 31.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-red-view2-lamps {
    width: 86%;
    height: 46%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 5.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-red-view1-wall {
    width: 22%;
    height: 14.5%;
    background: transparent;
    position: absolute;
    top: 47%;
    left: 39%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-red-view1-floor1 {
    width: 100%;
    height: 21%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-red-view1-lamps {
    width: 57%;
    height: 46.5%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 21.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view3-wall {
    width: 66%;
    height: 27%;
    background: transparent;
    position: absolute;
    top: 44%;
    left: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view3-chairs {
    width: 54.5%;
    height: 17%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view3-lamps {
    width: 66%;
    height: 44%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view2-wall {
    width: 34%;
    height: 17%;
    background: transparent;
    position: absolute;
    top: 47%;
    left: 18.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view2-chairs {
    width: 13.5%;
    height: 25%;
    background: transparent;
    position: absolute;
    top: 63%;
    left: 64%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view2-floor1 {
    width: 33%;
    height: 12%;
    background: transparent;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view2-floor2 {
    width: 22.5%;
    height: 34%;
    background: transparent;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view2-lamps {
    width: 44%;
    height: 47%;
    background: transparent;
    position: absolute;
    top: 0;
    right: 37.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view1-wall {
    width: 39%;
    height: 15%;
    background: transparent;
    position: absolute;
    top: 48%;
    left: 30.5%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view1-chairs {
    width: 24%;
    height: 20%;
    background: transparent;
    position: absolute;
    top: 66%;
    left: 56%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view1-floor1 {
    width: 17%;
    height: 20%;
    
    background: transparent;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view1-floor2 {
    width: 15%;
    height: 34%;
    
    background: transparent;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 1;
    cursor: pointer;
    }
    
    .kitchen-black-view1-lamps {
    width: 55%;
    height: 47%;
    background: transparent;
    position: absolute;
    top: 0;
    right: 22%;
    z-index: 1;
    cursor: pointer;
    }
    
    .mask {
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    }
    
    /* TODO: Soleve this code in js */
    .mask-wall-panels.active {
    display: block;
    }
    
    .mask-chairs.active {
    display: block;
    }
    
    .mask-floor.active {
    display: block;
    }
    
    .mask-lamps.active {
    display: block;
    }
    
    * {
    -ms-overflow-style: none;
    }
    
    * {
    scrollbar-width: none;
    }
    
    *::-webkit-scrollbar {
    display: none;
    }
    
    .container-xxl {
    position: relative !important;
    }
    
    .mynav {
    z-index: 3;
    }
    
    main {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    }
    
    footer {
    margin-top: auto;
    z-index: 2;
    }
    
    /** Swiper */
    .main-cont {
    width: 100vw;
    position: relative;
    }
    
    .main-cont::before {
    content: "";
    display: block;
    padding-top: var(--address-bar-height);
    }
    
    @media(max-width: 580px) {
    
    }
    
    .carousel__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    @media (max-width: 912px) {
    .main-cont {
      width: 100vw;
      position: relative;
    }
    
    .carousel__img {
      height: var(--address-bar-height)
    }
    
    .main-cont::before {
      content: "";
      display: block;
      padding-top: 0;
    }
    
    .carousel__img {
      position: static;
      top: 0;
      left: 0;
      width: 100vw;
      object-fit: cover;
    }
    }
    
    @media(max-width: 540px) {
    /* .carousel__img {
      height: 88vh !important;
    } */
    }
    
    .swiper-button-next {
    bottom: 50% !important;
    transform: translate(-50%, 0%) !important;
    }
    
    .swiper-button-prev {
    bottom: 50% !important;
    transform: translate(-50%, 0%) !important;
    }
    
    .swiper-button-next:after,
    .swiper-button-prev:after {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 64px;
    height: 54px;
    padding: 20px;
    border-radius: 100%;
    font-size: 24px !important;
    background: var(--main-white);
    }
    
    @media (max-width: 1000px) {
    .swiper-button-next:after,
    .swiper-button-prev:after {
      width: 40px;
      height: 40px;
      font-size: 16px !important;
    }
    }
    
    .swiper-button-next:after {
    margin-right: 50px;
    }
    
    .swiper-button-prev:after {
    margin-left: 50px;
    }
    
    @media (max-width: 900px) {
    .swiper-button-next:after {
      margin-right: 10px !important;
    }
    }
    
    .swiper-btn {
    width: 64px;
    height: 64px;
    }
    
    .swiper-pagination {
    display: none !important;
    height: 10px !important;
    }
    
    .swiper-pagination-bullet {
    background: var(--main-white) !important;
    }
    
    .swiper-pagination-bullet-active {
    width: 24px !important;
    border-radius: 6px !important;
    background: var(--main-white);
    }
    
    @media (max-width: 576px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
    
    .swiper-pagination {
      display: block !important;
    
      top: 70px !important;
    }
    }
    
    /* Swiper */
    
    /** Carousel */
    .carousel {
    margin: 11px 0px;
    }
    
    .carousel__title {
    pointer-events: none;
    position: absolute;
    bottom: 50px;
    left: 60px;
    z-index: 2;
    color: white !important;
    
    font-weight: 500;
    }
    
    @media(max-width: 570px) {
    .carousel__title {
      bottom: 140px;
    }
    
    }
    
    .carousel__title-mobile {
    display: none;
    }
    
    .carousel__btn-start {
    background: var(--main-white) !important;
    }
    
    .carousel__btn {
    display: none;
    
    color: var(--signin-blue);
    font-size: 14px;
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 500px;
    background: var(--main-light-blue);
    
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0%);
    }
    
    @media (max-width: 576px) {
    .carousel__title {
      /* top: 30px; */
      left: 50%;
    
      transform: translate(-50%, 0%);
    }
    
    .carousel__btn {
      display: block;
    }
    }
    
    /* Carousel */
    
    /** Blackout */
    .blackout {
    display: none;
    
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    }
    
    .blackout.active {
    display: block;
    }
    
    .second-blackout {
    display: none;
    
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    }
    
    .second-blackout.active {
    display: block;
    }
    
    /* Blackout */
    
    /** Blackout White */
    .blackout-white {
    display: none;
    
    width: 100vw;
    height: 100vh;
    background: rgba(245, 245, 245, 0.5);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    }
    
    .blackout-white.active {
    display: block;
    }
    
    /* Blackout White */
    
    /** Navbar */
    .mynav {
    background: var(--main-blue);
    padding: 22px 0px 22px 0px !important;
    }
    
    .mynav__input {
    width: 540px;
    height: 40px;
    margin-right: 10px;
    padding: 11px 20px 11px 52px;
    border-radius: 12px;
    border: none;
    background: var(--search-bg);
    color: var(--main-black);
    }
    
    @media (max-width: 912px) {
    .mynav__input {
      width: 400px;
    }
    }
    
    .mynav__search-icon {
    position: absolute;
    top: 0;
    left: 20px;
    transform: translate(-50%, 50%);
    }
    
    .mynav__input::before {
    content: "";
    
    width: 18px;
    height: 18px;
    
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    }
    
    .mynav__list {
    column-gap: 20px;
    margin-top: 0px !important;
    }
    
    .mynav__brand {
    color: var(--main-white) !important;
    }
    
    .mynav__link {
    color: var(--main-white) !important;
    font-size: 14px;
    font-weight: 600;
    }
    
    .mynav__btn {
    padding: 10px 20px;
    }
    
    .mynav__btn-login {
    border: 1px solid var(--main-white);
    border-radius: 12px;
    background: transparent;
    color: var(--main-white);
    }
    
    .mynav__btn-signup {
    border: none;
    border-radius: 12px;
    background: var(--main-white);
    color: var(--main-blue);
    }
    
    @media (max-width: 991px) {
    .mynav {
      padding: 10px 0px 10px 0px !important;
    }
    
    .mynav__link {
      font-size: 12px !important;
    }
    
    .mynav__input {
      width: 345px;
    }
    
    .mynav__list {
      padding: 15px 0px;
      row-gap: 15px;
    }
    }
    
    @media (max-width: 360px) {
    .mynav__input {
      width: 330px;
    }
    }
    
    /* NavBar */
    
    /** Second Nav */
    .second-nav {
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    
    .second-nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .second-nav__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 0px;
    }
    
    .second-nav__logo {
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
    }
    
    .second-nav__link {
    color: black;
    font-weight: 600;
    font-size: 16px;
    }
    
    .second-nav__icon {
    width: 16px;
    height: 16px;
    }
    
    @media (max-width: 480px) {
    .second-nav__link {
      font-size: 16px;
    }
    
    .second-nav__logo {
      font-size: 16px;
    }
    }
    
    /* Second Nav */
    
    /** Drop Down List */
    .drop-down-blackout {
    background: transparent !important;
    position: absolute !important;
    }
    
    .mynav-drop-down {
    display: none;
    
    position: absolute;
    top: -65px;
    right: 40px;
    z-index: 20;
    
    background: var(--main-white);
    border-radius: 12px;
    padding: 10px 20px;
    width: 146px;
    }
    
    .drop-down__link {
    color: var(--main-black) !important;
    }
    
    @media (max-width: 480px) {
    .drop-down__link {
      font-size: 12px;
    }
    
    .mynav-drop-down {
      top: -45px;
      right: 30px;
      width: 120px;
    }
    }
    
    .main {
    height: 100%;
    margin-top: 0px;
    }
    
    @media(max-width: 912px) {
    .main {
    height: auto;
    }
    }
    